@using MVCT.Models.Attandance;
@model AttandanceDTO

<form asp-action="Update">
    <br />

    <div class="Container border p-3">
        <h1 class="text-secondary text-center">Update Attendance</h1>
        <!-- Display the attendance record details here -->
        <div class="form-group">
            <label for="DateTime">Date and Time:</label>
            <input type="datetime" class="form-control" id="DateTime" name="DateTime" value="@Model.DateTime" required>
        </div>
        <!-- Add any additional fields you want to update -->
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>