@using System.Collections.Generic
@using MVCT.Models.Account;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@*@{
    ViewData["Title"] = "Đăng nhập";
}

<h1>@ViewData["Title"].</h1>*@
<div class="container">

    @*// form origin of UI razor*@
    <form class="login-form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

        @*header form*@
        <div class="imgcontainer">
            <img class="img-color" src="~/image/logo.png" alt="Avatar" class="avatar">
            <div> Log-in to your account </div>
        </div>

        <div class="login-inbox">

            <div class="container-boxinput">
            

                <!-- User Name -->
                <div class="form-item" id="form-item-username" onclick="highlightInput(this)">
                    <i class="fa-solid fa-user"></i>
                    <input asp-for="UserNameOrEmail" id="userName" style="border: none !important;outline: none !important;" />
                    @*<input type="text" id="userName" placeholder="E-mail address" name="uname">*@
                </div>


                <!-- Password -->
                <div class="form-item" id="form-item-password" onclick="highlightInput(this)">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="Password" id="passWord"  />
                    @*<input type="password" id="passWord" placeholder="Password" name="psw">*@
                </div>


                <button class="bt-submit" type="submit" onclick="login(event)">Login</button>

            </div>
        </div>
        <!-- alert login false -->
        <div class="alert-container" id="alert-container">
            <ul>
                <li class="item-alert" id="alert-input-email">Please enter your username</li>        
                <li class="item-alert" id="alert-input-password">Please enter your password</li>        
            </ul>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
