@using System.Collections.Generic
@using MVCT.Models.Account;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@*@{
    ViewData["Title"] = "Đăng nhập";
}

<h1>@ViewData["Title"].</h1>*@
<div class="container">

    @*// form origin of UI razor*@
    <form class="login-form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

        @*header form*@
        <div class="imgcontainer">
            <img class="img-color" src="~/image/logo.png" alt="Avatar" class="avatar">
            <div style="font-weight:700"> Log in to your account </div>
        </div>

        <div class="login-inbox">

            <div class="container-boxinput">
            

                <!-- User Name -->
                <div class="form-item" id="form-item-username" placeholder="Email or User..." onclick="highlightInput(this)">
                    <i class="fa-solid fa-user"></i>
                    <input asp-for="UserNameOrEmail" id="userName" style="border: none !important;outline: none !important;"  placeholder="Email or User" />
                    @*<input type="text" id="userName" placeholder="E-mail address" name="uname">*@
                </div>


                <!-- Password -->
                <div class="form-item" id="form-item-password" placeholder="Password..." onclick="highlightInput(this)">
                    <i class="fa-solid fa-lock"></i>
                    <input asp-for="Password" id="passWord" placeholder="Password..." />
                    @*<input type="password" id="passWord" placeholder="Password" name="psw">*@
                </div>


                <dnt-captcha asp-captcha-generator-max="999999"
                             asp-captcha-generator-min="111111"
                             asp-captcha-generator-language="English"
                             asp-captcha-generator-display-mode="ShowDigits"
                             asp-use-relative-urls="true"
                             asp-placeholder="Enter Security code"
                             asp-validation-error-message="Please enter the security code."
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#ccc"
                             asp-text-box-class="text-box form-control"
                             asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="fe-icon-repeat "
                             asp-use-noise="false" />
               @* <input type="text"  asp-for="" />
                <div class="recaptcha-container-all" onclick="setUpReponseRecaptcha()">
                    <div class="g-recaptcha" data-type="image" data-sitekey="6LcaTzQnAAAAAG2mi1ZAlRw6zN5ITIzQLA3T_4Yp" name="g-recaptcha-response" data-callback="recaptchaCallback"> </div>


                </div>*@

                <button class="bt-submit" type="submit" onclick="login(event)">Login</button>

            </div>
        </div>
        <!-- alert login false -->
        <div class="alert-container" id="alert-container">
            <ul>
                <li class="item-alert" id="alert-input-email">Please enter your username</li>        
                <li class="item-alert" id="alert-input-password">Please enter your password</li>        
            </ul>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
    }
    <script src="/js/product.js"></script>
}
